* {
	margin: 0;
	padding: 0;
	font-family: Industry, monospace;
}

/* barra de navegação */

nav.navbar-transparente {
	padding: 10px 0px;
	background: rgba(0, 0, 0, 0.6);
	border: none;
}

.navbar-inverse .navbar-brand {
	margin-left: 30px;
	font-size: 16px;
    color: white;
}
.navbar-inverse .navbar-header>a:hover {
	color: #ef173b;
}

.navbar-inverse .navbar-nav>li>a, footer .nav a {
	color: white;
	font-size: 16px;
}

.navbar-inverse .navbar-nav>li>a:hover, footer .nav a:hover {
	background: none;
	color: #ef173b;
}

/* sessão inicial */

.foto {
	padding-top: 50px;
}

.texto {
	padding-top: 50px;
}

/* sections */
.page-section {
	width: 100%;
	padding: 50px 0;
}

.page-section h1 {
	font-family: Industry, monospace;
	font-size: 4em;
	margin: 50px 0;
	text-align: center;
}
.page-section h2 {
	font-family: Industry, monospace;
	font-size: 3em;
	padding: 20px;
	font-weight: 900;
	color: #424242;
	text-shadow: 2px 2px 2px #000;
}

.page-section h3 {
	font-family: Industry, monospace;
	text-align: center;
	color: #424242;
}

.page-section p {
	font-family: Industry, monospace;
	font-size: 1.2em;
	font-weight: 200;
}

.page-section p.lead {
	font-size: 1.8em;
}

.page-section p.caption {
	font-size: 20px;
	color: #424242;
	text-shadow: 1px 1px 1px #fff;
}

.page-section.intro {
	min-height: 700px;
	padding-top: 100px;
}

/* medias */

@media (min-width: 768px) {
	.header .navbar-brand {
		padding-left: 0;
	}
	.navbar-nav {
		float: right;
	}
}

@media (max-width: 480px) {
	.page-section h1 {
		font-size: 3em;
	}
	.page-section h2 {
		font-size: 2em;
	}
	.page-section p {
		font-size: 1em;
		margin: 0 0 20px;
	}
}

/* -- rodape -- */
.rodape {
	width: 100%;
	padding: 50px 0;
}

.rodape h4 {
	font-family: Industry, monospace;
	color: #424242;
}

footer {
	background: #E0E0E0;
	padding: 30px 0px 20px 0px;
}

.item-rede-social{
	float: right;
}

.footer-iconImg:hover {
    opacity: .7;
    transition: opacity .2s;
}

.agradecimento {
    background: #212121;
    text-align: center;
    color: white;
}

#s2 {
	color: red;
}

/* grids */

section::after, section::before {
	content: '';
	display: table;
	clear: both;
}

.grid-text {
	width: calc(60% - 40px);
}

.grid-img {
	width: calc(40% - 40px);
	padding-top: 70px;
}

section > div {
	margin: 0 20px;
	float: left;
}

section {
	max-width: 800px;
	margin: 100px auto;
}

/* animação */

.anime {
	opacity: 0;
	transform: translate3d(-100px,0,0);
	transition: .3s;
}

.anime-start {
	opacity: 1;
	transform: translate3d(0,0,0);
}

/* curiosidades */

.curiosidades {
	align-items: center;
}

.curiosidades h2 {
	font-family: Industry, monospace;
	font-size: 3em;
	font-weight: 900;
	color: #424242;
	text-shadow: 2px 2px 2px #000;
}

.curiosidades p.caption {
	font-size: 20px;
	color: #424242;
	text-shadow: 1px 1px 1px #fff;
}