/* ========================= layout ======================== */
html, body, .capa {
	height: 100%;
	overflow: auto;
}

body {
	background: linear-gradient(50deg, #FFFFFF, #E0E0E0);
	background-attachment: fixed;
	background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
	font-family: PT Serif,serif;
	overflow-x: hidden;
}

/* -- Barra de navegação -- */
.img-logo {
	height: 34px;
	width: 200px;
	display: block;
	background: url('imagens/logo.png') no-repeat;
	background-size: contain;
	color: transparent;
}

nav.navbar-transparente {
	padding: 10px 0px;
	background: rgba(255, 255, 255, 0.6);
}

.navbar-brand{
	padding: 10px 15px;
}

.navbar-default .navbar-nav>li>a, footer .nav a {
	color: black;
	font-size: 16px;
}

.navbar-default .navbar-nav>li>a:hover, footer .nav a:hover {
	color: #ef173b;
	background: none;
}

/* -- Imagem de capa -- */
.capa {
	padding-top: 100px;
	display: table;
	width: 100%;
}

h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    letter-spacing: -2.5px;
}

h1, h2, h3, h4 {
    font-weight: 700;
    color: #424242;
}

h4 {
    font-size: 28px;
    font-weight: 400;
}

h4 {
     display: block;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

h3, h4 {
    letter-spacing: -1px;
    line-height: 40px;
}

.h4, .h6, h4, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.about {
    min-height: 70vh;
    margin-top: 20px;
}

.texto-capa {
	text-align: center;
	color: black;
	display: table-cell;
	vertical-align: middle;
}
.texto {
	padding-top: 50px;
	text-align: center;
	color: black;
	display: table-cell;
	vertical-align: middle;
}

.foto {
	margin: 20px 40px;
}

/* -- secao sobre -- */
#sobre {
	padding-top: 20px;
	padding-bottom: 20px;
}

/* -- objetivo -- */
#objetivo {
	background: white;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
}

/* -- qualificações -- */
#qualificacoes {
	padding-top: 20px;
	padding-bottom: 20px;
	transition-delay: 0.3;
}

/* -- experiencias -- */
#experiencias {
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
	background-color: white;
}

/* -- curiosidades -- */
#curiosidades {
	padding-bottom: 40px;
	color: white;
}



/* -- rodape -- */
footer {
	background: #E0E0E0;
	padding: 30px 0px 20px 0px;
}

.item-rede-social{
	float: right;
}

.footer-iconImg:hover {
    opacity: .8;
    transition: opacity .2s;
}

.agradecimento {
    background: #212121;
    text-align: center;
    color: white;
}

/* ========================= Tipografia ======================== */

h1 {
	font-weight: 900;
	letter-spacing: -0.05em;
	margin-bottom: 50px;
	color: #424242;
}

/* Media queries */
/* xs < 768 */
@media screen and (max-width: 767px) {
	h1 {
	    font-size: 46px; 
  	}
}

/* sm */
@media screen and (min-width: 768px) {
    h1 {
	    font-size: 50px; 
  	}
}

/* md */
@media screen and (min-width: 992px) {
    h1 {
	    font-size: 54px; 
  	}
}

/* lg */
@media screen and (min-width: 1200px) {
    h1 {
	    font-size: 58px;
  	}
}
/* Fim Media queries */


h2{
	font-size: 50px;
	font-weight: 700;
	letter-spacing: -0.04em;
}

h3{
	font-size: 35px;
	font-weight: 700;
	letter-spacing: -0.04em;
}

#rodape h4 {
	color: #000;
	font-size: 22px;
	line-height: 20px;
}

#sobre h2, #sobre h3 {
	color: #424242;
}

#qualificacoes h3 {
	color: #9bf0e1;
}

#s2 {
	color: red;
}